colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
discretize==0.12.0
fonttools==4.66.1
geoana==0.8.1
iniconfig==2.3.1
kiwisolver==1.5.1
libdlf==0.3.0
matplotlib==3.11.2
numpy==2.5.3
packaging==26.3
pgcore==1.6.0
pillow==12.3.0
pip==25.0.1
pluggy==1.6.0
psutil==7.2.2
pyamg==5.3.0
pygimli==1.6.1
Pygments==2.21.0
pymatsolver==0.4.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
scipy==1.18.1
scooby==0.12.0
setuptools==84.0.0
simpeg==0.25.2
six==1.17.0
typing_extensions==4.16.0
tetgen==0.8.4
ruff==0.16.10
